.app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  gap: 20px;
}
h2 {
  margin-bottom: 2em;
  color: white;
}
.button-row {
    width: 50%;
    padding: 10px;
    color: white;
    border: 2px solid gray;
    border-radius: 8px;
  }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Think";
  src: url("../public/fonts/Think-Bold.ttf");
}
@font-face {
  font-family: "Hey-November";
  src: url("../public/fonts/Hey-November.ttf");
}
@font-face {
  font-family: "Viner";
  src: url("../public/fonts/VINERITC.TTF");
}
@font-face {
  font-family: "Gloucester";
  src: url("../public/fonts/GLECB.TTF");
}

@layer base {
  

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply transition duration-200  text-white  w-full border-b-[1.8px] border-t-0 border-x-0 border-b-transparent   placeholder-[#888];
  }
 
  input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #888;
}
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus,
  [type="text"]:focus-visible,
  [type="email"]:focus-visible,
  [type="url"]:focus-visible,
  [type="password"]:focus-visible,
  [type="number"]:focus-visible,
  [type="date"]:focus-visible,
  [type="datetime-local"]:focus-visible,
  [type="month"]:focus-visible,
  [type="search"]:focus-visible,
  [type="tel"]:focus-visible,
  [type="time"]:focus-visible,
  [type="week"]:focus-visible,
  [multiple]:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    @apply  shadow-none border-b-white  !important;
    --tw-ring-color: #a19f9d !important;
    --tw-ring-shadow: unset !important;
    outline-offset: unset !important;
    outline: 2px solid transparent !important;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    background: transparent !important;
    transition: background 5000s ease-in;
    color:white !important;
  }



}
@layer components  {
  .custom-view-height{
    min-height: calc(100vh - 80px);

  }
  .my-btn {
    @apply bg-[#444444] tablet:p-[20px] p-[5px] text-sm   text-gray-400 rounded-full
    flex items-center justify-center h-[30px] tablet:h-[40px];
  }
  .verticleline{
    @apply absolute bg-gradient-to-r from-slate-300  to-[#181a20] w-[97%] flex justify-center items-center ml-2 h-[4px] -z-10
  }
  .boxcreateevent{
    @apply w-[60px] h-[30px] bg-slate-700 border border-dashed border-gray-600
  }
  .discardsavebtn{
    @apply hover:text-[gray] border border-solid  text-xs border-gray-500 px-3 py-1 rounded-md flex items-center gap-1
  }
  .sidebar{
    @apply rounded-xl hover:bg-slate-600  hover:cursor-pointer text-body2  items-center duration-300 py-1 flex gap-3  px-5  hover:text-[gray] 
  }
  .signoutbtn{
    @apply  border text-xs hover:border-transparent border-solid hover:bg-[#ff4d4d] hover:text-white border-gray-500 tablet:px-3 px-1 py-1  rounded-md flex items-center gap-1
  }
  .iconrotate{
    @apply hover:scale-110 hover:rotate-[359deg] duration-700
  }
  .center{
    @apply flex items-center justify-center
  }
  .center-b{
    @apply flex items-center justify-between
  }
  .green{
    @apply bg-[#10A123] text-white font-semibold tablet:text-body1 text-base rounded-lg py-2 hover:bg-green-600 }
  .red{
    @apply bg-[#C72A2A] text-white font-semibold tablet:text-body1 text-base   rounded-lg py-2 hover:bg-red-500 }
  .input-b{
    @apply py-0 bg-transparent w-full border-b-2 border-0 
  }
  .blur-bg{
    @apply bg-[#80808022] ;
  }
  .dashboard{
    height: calc(100vh - 80px);
  }
  .dash-btn{
    @apply rounded-xl hover:bg-slate-600  hover:cursor-pointer text-body2  items-center duration-300 flex gap-3  px-5  hover:text-[gray] py-1 w-full
  }
  .artfont{
    @apply text-[48px];
  }
  .live-show video{
    height: 550px !important;
    width: 100% !important;
    object-fit: cover;
  }
  .go-live video{
    height: 580px !important;
    width: 100% !important;
    object-fit: cover;

  }
  .type-switch:checked + label >span{
    @apply left-[24px];

  }
  .go-live{
    background: linear-gradient(to right , rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../public/images/home/singers.png');
    min-height: calc(100vh - 80px);
    background-size: cover;
    background-position: center;
  }
  .go-live-content{
    @apply backdrop-blur-[5px];
    min-height: calc(100vh - 80px);
  }

}


:root {
  --p-gray: rgb(198, 198, 198);
}

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: #181A20 !important;
}
nav{
  background-color: #181A20 !important;
/* position: fixed; */
width: 100%;
z-index: 100;
}
p {
  color: var(--p-gray);
}
a:hover{
  color: gray !important;
}
.login-navbar{
  color: white;
  position: relative;
}
.login-secound{
  display: none;
  transition: 1s ease-in-out !important;

}
.login-secound.active{
  display: inline;
}
.login-navbar:hover .login-secound {
  background: #9b9b9b;
  display: inline;
  position: absolute;
  right: 9px;
  width: 200px;
  height: auto;
  top: 25px;
  color: white;
  padding: 10px;
  border-radius: 11px;
  -webkit-backdrop-filter: blur(46px);
  backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  transition: .3s ease-in !important;
}

.ticket-checkout {
  background-position: 75% 17%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/checkout/bhubhan-bam-wallpaper.png"), linear-gradient(to bottom, #98085F, #2A145D);
  background-blend-mode: overlay;
}

.login-header {
 height: calc(100vh - 80px);
}

/* acordina */


h1 {
  text-align: center;
  margin: 40px 0;
}

.accordion {
  display: flex;
  flex-direction: column;
  
  margin: 0px auto;
  color: rgb(255, 255, 255);
  padding: 45px 4px;
}

.accordion .container {
  position: relative;
  margin: 3px 10px;
  cursor: pointer;
}
.accordion .container:hover {
  background: #5050502e;
  border-radius: 9px;
  transition: .3s all;
}
.accordion .container.active .content {
  padding: 0px 18px 24px 18px;
  height: auto;
}
.accordion .label {
  position: relative;
  padding: 10px ;
  font-size: 25px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.accordion .label::before {
  content: '+';
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  background: #00000005;
  height: 0;
  font-size: 20px;
  text-align: justify;
  overflow: hidden;
  transition: 0.5s;
  padding: 0 10px;
}

@media (min-width: 0){
.container {
    max-width: 100%;
}}

.accordion .container.active .content {
  height: 150px;
}

.accordion .container.active .label::before {
  content: 'x';
  font-size: 30px;right: 10px;
}

.owl-theme .owl-nav {
  position: absolute;
  width: 100%;
  justify-content: space-between;
  top: 50%;
  display: flex;
}

.owl-theme .owl-nav>button {
  font-size: 20px;
}
.item{
  cursor: pointer;
}

.item .slider-wrapper {
  height: 70vh;
  position: relative;
}

.item .slider-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-in-out;
}

.item .slider-wrapper:hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-in-out;
  transform: scale(1.02);
}

.slider-wrapper-content {
  padding: 0 10px;
  /* text-align: center; */
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: -50px;
  transition: .3s ease-in-out;

}

.item .slider-wrapper:hover .slider-wrapper-content {
  transition: .3s ease-in-out;
  bottom: 40px;
}

.item .slider-wrapper .slider-wrapper-content button {
  width: 100px;
  font-weight: 600;
}

.owl-item {
  padding: 5px;
}

.item {
  border-radius: 10px;
  overflow: hidden;
  transition: .2s all;
}

.item:hover {
  box-shadow: 0px 0px 7px #0d0d0d;
  transition: .3s all;
}

.owl-theme .owl-nav {
  margin-top: 0px !important;
}

.owl-carousel .owl-nav.disabled {
  display: flex !important;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: transparent !important;
  border-radius: 100%;
  width: 27px;
  backdrop-filter: blur(20px);
  height: 27px;
  font-size: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.header-content {
  width: 100%;
  height: 94vh;
  background-position: 75% 17%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/ticket/bhubhan-bam-wallpaper.png"), linear-gradient(to bottom, #98085F, #2A145D);
  background-blend-mode: overlay;
}
.h_creater{
  height: calc(100vh - 80px);
}
.Kendrick_Lamar{
  width: 100%;
  /* height: 94vh; */
  background-position: 75% 17%;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("../public/images/creaters-name/kendrick.png"); */
}
.LIL_NAS_X{
  width: 100%;
  /* height: 94vh; */
  background-position: 75% 17%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/creaters-name/lil.png");
}
.Drake{
  width: 100%;
  /* height: 94vh; */
  background-position: 75% 17%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/creaters-name/drake.png");
}
.Doja_cat{
  width: 100%;
  /* height: 94vh; */
  background-position: 75% 17%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/creaters-name/doja.png");
}
.emiway{
  width: 100%;
  /* height: 94vh; */
  background-position: 75% 17%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/creaters-name/emiway.png");
}

.bhuvam-radius-image {
  width: 150px;
  height: 150px;
  border-radius: 50% !important;
}

@media (max-width:576px) {
  .bhuvam-radius-image {
    width: 100px;
    height: 100px;
  }

  .left-side {
    width: 300px !important;
    height: auto;
  }
  .accordion .label{
    font-size: 15px;
  }
  .accordion .content{
    font-size: 10px;
  }
  .accordion{
    width: 100%;
  }
}



select {
  padding: 11px 13px !important;
}

.switch input { 
  display:none;
}
.switch {
  display:inline-block;
  width:31px;
  height:14px;
  
  -webkit-transform:translateY(50%);
  transform:translateY(50%);
  position:relative;
}

.slider {
  position:absolute;
  top:0px;
  bottom:0;
  left:0;
  right:0;
  border-radius:20px;
  background: #3E4046;
  cursor:pointer;
  border:4px solid transparent;
  overflow:visible;
  -webkit-transition:.4s;
  transition:.4s;
}
.slider:before {
  position:absolute;
  content:"";
  width:12px;
  height:12px;
  background:white;
  border-radius:100px;
  top: -3px;
  -webkit-transform:translateX(-0px);
  transform:translateX(-0px);
  -webkit-transition:.4s;
  transition:.4s;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);
}

.switch input:checked + .slider:before {
  -webkit-transform:translateX(12px);
  transform:translateX(12px);
  background:#43AD50;
}

.switch input:checked ~ .off {
  color: #d3d3d3;
  
  top: -5px;
}

.switch input:checked ~ .on {
  color: #43AD50;
  
}

.fa-arrow-left:before {
  content: "\f053";
}
.fa-arrow-right:before{
  content:"\f054"
}
.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next{
  width: 35px;
  height: 35px;

}
